.Subscribe {
  color: black;
  width: 1000px;
  height: 300px;
  background-color: #9dd7f2;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
  gap: 20px;
  border-radius: 10px;
  font-family: sans-serif;
}
.Button {
  width: 200px;
  margin-top: 20px;
  background-color: rgb(232, 103, 103);
  height: 30px;
  border-radius: 4px;
  color: white;
}
.input {
  margin-left: 5px;
  margin-left: 5px;
  border-radius: 4px;
  height: 30px;
  margin-top: 30px;
}
